* {
    font-family: 'Roboto';
}

body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.row{
    margin: 0;
}

.container-fluid{
    padding: 0;
}

.btn-primary{
    background-color: #f2a340;
    border: 2px solid #c28008;
}

.btn-primary:hover{
    background-color: #c28008;
    border: #c28008;
}

.msg{
    background-color: #d4edda;
    color: #155724;
    border: 1 px solid #c3e6cb;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

#navbar{
    justify-content: space-between;
    background-color: #fff;
    padding: 5px 0;
}

#navbar a{
    font-size: 14px;
    color: #757575;
}

#navbar a:hover{
    color: #f2a340;
}

#search-container{
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container h1{
    color: #f2a340;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form{
    width: 50%;
    margin: 0 auto;
}

#events-container{
    padding: 50px;
}

#events-container h2{
    margin-bottom: 10px;
}

#events-container .subtitle{
    color: #757575;
    margin-bottom: 30px;
}

#events-container cards{
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: .5%;
}

#events-container img{
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cards-container{
    display: flex;
}

.card .card-date{
    font-size: 12px;
    color: #757575;
}

.card .card-title{
    color: #2121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-participants {
    font-size: 14px;
    color: #757575;
}

footer{
    text-align: center;
    background-color: #353e48;
    color: #fff;
    padding: 38px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p{
    margin-bottom: 0;
}

#sala-create-container{
    padding: 30px;
}

#sala-create-container blade{
    font-weight: bold;
}


#sala-create-container input,
#sala-create-container select,
#sala-create-container textarea{
    font-size: 12px;
}


#image-container, #info-container{
    margin-top: 30px;
}

#image-container img{
    border-radius: 10px;
}

#info-container h1{
    font-size: 36px;
    font-weight: 900;
}

#info-container p{
    font-size: 14;
    margin: 0;
    display: flex;
    align-items: center;
}

#info-container h3, #description-container h3{
    font-size: 20px;
    font-weight: bold;
}

#info-container #sala-submit{
    margin-top: 30px;
}
